@keyframes idlePulse {
    0%  { transform: translate(1px); }
    4% { transform: translate(-2px); }
    6% { transform: translate(1px, 1px); }
    8% { transform: translate(-1px); }
    12%{ transform: translate(1px); }
}

@keyframes flashAlert {
    0%  { transform: scale(12); opacity: 0; }
    16% { transform: scale(1);}
    32% { opacity: 1; }
    42% { transform: scale(1); }
    45% { transform: scale(1.05); }
    47% { transform: scale(1);}
}

@keyframes fadeIn {
    from { opacity: 0; transform: translate(5px); }
    to { opacity: 1; transform: translate(0);}
}

@keyframes textGlow {
    0%, 100% {
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
    }
    50% {
        text-shadow: 0 0 12px rgba(32, 128, 255, 1);
    }
}