body {
    padding-top: 64px;
}

@font-face {
    font-family: 'Limelight';
    src: url('/static/fonts/Limelight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/static/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#theme-toggle {
    animation: idlePulse 3s infinite;
    transform-origin: center;
}

#flash-alert {
    animation: flashAlert 3s ease-in 1;
    transform-origin: center;
}

#print-calendar {
    position:fixed;
    top: 0.5rem;
    right: 1rem;
    z-index: 1000;
}

.share-request {
    animation: idlePulse 2s infinite;
    transform-origin: center;
}

.login-group {
    height: calc(100vh - 72px);
}

.navbar-brand {
    font-family: 'Limelight', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.dashboard-nav-item {
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
}

html[data-bs-theme="dark"] nav a.active {
    color: #fff;
    text-shadow: 0 0 6px rgba(192, 192, 255, 0.6);
}

html[data-bs-theme="light"] nav a.active {
    color: #000;
    background-color: transparent;
    text-shadow: 2px 2px 2px rgba(64, 64, 128, 0.6);
}

@media print {
    .no-print {
        display: none !important;
    }

    @page {
        margin: 0;
        size: landscape;
    }
}
