{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block body %}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3">
                <h3>Change your password.</h3>
            </div>
            <div class="mb-3">
                <p>Password can be changed if current password is confirmed.</p>
            </div>

            <form class="row g-3" method="POST" action="{{ url_for('change_password') }}">
                {{ change_password_form.hidden_tag() }}

                <div class="col-md-8">
                    {{ change_password_form.current_password.label(class="form-label") }}
                    {{ change_password_form.current_password(class="form-control") }}
                    {% for error in change_password_form.current_password.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="col-md-8">
                    {{ change_password_form.password.label(class="form-label") }}
                    {{ change_password_form.password(class="form-control") }}
                    {% for error in change_password_form.password.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="col-md-8">
                    {{ change_password_form.confirm_password.label(class="form-label") }}
                    {{ change_password_form.confirm_password(class="form-control") }}
                    {% for error in change_password_form.confirm_password.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div>
                    {{ change_password_form.submit(class="btn btn-primary") }}
                </div>
            </form>
            <div>
                <form method="GET" action="{{ url_for('dashboard') }}">
                    <button type="submit" class="btn btn-secondary mt-3">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}