<!DOCTYPE html>

<html lang="en" data-bs-theme="{{ session.get('theme', current_user.theme.theme if current_user.is_authenticated else cookie_theme) }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Project: {% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/animation.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <link href="{{ url_for('static', filename='images/favicon.png') }}" rel="icon" type="image/png">
</head>

<body>
    {% if not img_source %}
    <header class="no-print">
        <!-- Centered Navbar from Bootstrap Examples-->
        <nav class="navbar fixed-top navbar-expand-md bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
            <div class="container-fluid"> <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false"
                    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse d-md-flex" id="navbarsExample11"> <a class="navbar-brand col-md-1 me-0"
                        href="/">I.G.K.H.</a>
                    {% if current_user.is_authenticated %}
                        <ul class="navbar-nav col-md-10 justify-content-md-center">
                            {% macro nav_item(endpoint, label) %}
                            <li class="nav-item px-3 dashboard-nav-item"> <a class="nav-link {% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">{{ label }}</a> </li>
                            {% endmacro %}
                            {{ nav_item('dashboard', 'Dashboard') }}
                            {{ nav_item('week_schedule', 'Week') }}
                            {{ nav_item('week_share', 'Collaborate')}}
                        </ul>
                        <div class="d-md-flex col-md-1 justify-content-md-end gap-2">
                            <div class="dropdown">
                                <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ current_user.first_name + " " + current_user.last_name}}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#userProfileModal">Profile</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                                </ul>
                            </div>
                            
                        </div>
                    {% else %}
                        <div class="d-md-flex col-md-11 justify-content-md-end">
                            {% include 'components/_theme_toggle.html' %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
    {% endif %}

    {% block body %}{% endblock %}

    {% if current_user.is_authenticated %}
    {%include ('components/_user_profile_modal.html') %}
    {% endif %}

    <!-- Flash Messages-->
    <div id="flash-alert-container" class="position-fixed bottom-0 start-50 translate-middle-x mb-5 z-3 no-print"
        style="width: 100%; max-width: 600px;">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div id="flash-alert" class="alert alert-{{category}} fade show text-center" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

<!-- Bootstrap JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

<!-- Custom JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<!-- Sign Up Errors -->
{% if signup_form is defined and signup_form.errors %}
    <input type="hidden" id="signUpModalTrigger" value="true">
<!-- script>
    document.addEventListener('DOMContentLoaded', () => {
        const signUpModal = new bootstrap.Modal(document.getElementById('signUpModal'));
        signUpModal.show();
    });
</script -->
{% endif %}

</body>

</html>
