{% extends "layout.html.jinja" %}

{% block title %}Print Calendar{% endblock %}

{% block body %}

<div class="container-fluid">
    <img src="{{ url_for('static', filename='images/calendar/' + image + '.png') }}" class="img-fluid"
    alt="SelectedCalendar">

    <div id="print-calendar" class="d-flex justify-content-between no-print">
        {% if img_source == 'owner' %}
            <a class="btn btn-outline-warning w-50 me-3" href="{{ url_for('week_schedule') }}">
        {% elif img_source == 'collaborator' %}
            <a class="btn btn-outline-warning w-50 me-3" href="{{ url_for('week_share') }}">
        {% endif %}
        Exit
        </a>
        <button class="btn btn-outline-warning w-50" onclick="window.print()">Print</button>
    </div>

</div>


{% endblock %}