{% extends "layout.html.jinja" %}

{% block title %}Reset Password{% endblock %}

{% block body %}

<div class="container login-group d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <h3>Reset your password.</h3>
            </div>
            <div class="mb-3">
                <p>Please reset your password.</p>
            </div>

            <form class="row g-3" method="POST" action="{{ url_for('reset_password') }}">
                {{ reset_password_form.hidden_tag() }}

                <div>
                    {{ reset_password_form.password.label(class="form-label") }}
                    <div class="input-group">
                    {{ reset_password_form.password(class="form-control", id="reset-password-form-password") }}
                        <span class="input-group-text" onclick="togglePasswordVisibility('reset-password-form-password', 'toggle-reset-password-form-password')"
                            style="cursor:pointer;">
                            <i class="bi bi-eye" id="toggle-reset-password-form-password"></i>
                        </span>
                    </div>
                    {% for error in reset_password_form.password.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div>
                    {{ reset_password_form.confirm_password.label(class="form-label") }}
                    <div class="input-group">
                    {{ reset_password_form.confirm_password(class="form-control", id="reset-password-form-confirm-password") }}
                        <span class="input-group-text" onclick="togglePasswordVisibility('reset-password-form-confirm-password', 'toggle-reset-password-form-confirm-password')"
                            style="cursor:pointer;">
                            <i class="bi bi-eye" id="toggle-reset-password-form-confirm-password"></i>
                        </span>
                    </div>
                    {% for error in reset_password_form.confirm_password.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div>
                    {{ reset_password_form.submit(class="btn btn-primary w-50") }}
                </div>
            </form>

            <div>
                <form method="GET" action="{{ url_for('login') }}">
                    <button type="submit" class="btn btn-secondary mt-3">Cancel</button>
                </form>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

{% endblock %}