{% extends "layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block body %}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-8">
            <div class="mb-3">
                <h3>Reset your password.</h3>
            </div>
            <div class="mb-3">
                <p>Please reset your password.</p>
            </div>

            <form class="row g-3" method="POST" action="{{ url_for('reset_password') }}">
                {{ reset_password_form.hidden_tag() }}

                <div class="col-md-8">
                    {{ reset_password_form.password.label(class="form-label") }}
                    {{ reset_password_form.password(class="form-control") }}
                    {% for error in reset_password_form.password.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="col-md-8">
                    {{ reset_password_form.confirm_password.label(class="form-label") }}
                    {{ reset_password_form.confirm_password(class="form-control") }}
                    {% for error in reset_password_form.confirm_password.errors %}
                    <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div>
                    {{ reset_password_form.submit(class="btn btn-primary") }}
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}