{% extends "layout.html" %}

{% block title %}Sign-up{% endblock %}

{% block body %}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <form class="row g-3" method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
        <div class="col-md-6">
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control") }}
            {% for error in form.first_name.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control") }}
            {% for error in form.last_name.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control") }}
            {% for error in form.confirm_password.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

</div>

{% endblock %}