{% extends "layout.html.jinja" %}

{% block title %}Verify Code{% endblock %}

{% block body %}

<div class="container login-group d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="mb-3">
                <h3>Verify that code!</h3>
            </div>
            <div class="mb-3">
                <p>Please enter the code that was sent to your email</p>
            </div>
                
                <form class="row g-3" method="POST" action="{{ url_for('verify_password_reset_code') }}">
                    {{ verify_password_reset_code_form.hidden_tag() }}
                
                    <div>
                        {{ verify_password_reset_code_form.code(id="verifyPasswordResetCodeFormField", class="form-control") }}
                        {% for error in verify_password_reset_code_form.code.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                
                    <div>
                        {{ verify_password_reset_code_form.submit(class="btn btn-primary w-50") }}
                    </div>
                </form>

            <div>
                <form method="GET" action="{{ url_for('login') }}">
                    <button type="submit" class="btn btn-secondary mt-3">Cancel</button>
                </form>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

{% endblock %}