{% extends "layout.html" %}

{% block title %}Week{% endblock %}

{% block body %}

<div class="container-fluid m-3">

    <div class="row justify-content-center">

        <div class="col-9">
            <img src="{{ url_for('static', filename='images/calendar/' + seq + 'week.png') }}" class="img-fluid">
        </div>

        <div class="col-2 border">
            <div class="d-grid gap-2">
                <a href="javascript:void(0)" class="btn btn-primary my-1" data-bs-toggle="modal" data-bs-target="#addEventModal">Add Event</a>
            </div>
            <div class="list-group scrollarea border">
                <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">
                    <div class="d-flex w-100 align-items-center justify-content-between"> <strong class="mb-1">List group item
                            heading</strong> <small>Wed</small> </div>
                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="d-flex w-100 align-items-center justify-content-between"> <strong class="mb-1">List group item
                            heading</strong> <small class="text-body-secondary">Tues</small> </div>
                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="d-flex w-100 align-items-center justify-content-between"> <strong class="mb-1">List group item
                            heading</strong> <small class="text-body-secondary">Tues</small> </div>
                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="d-flex w-100 align-items-center justify-content-between"> <strong class="mb-1">List group item
                            heading</strong> <small class="text-body-secondary">Tues</small> </div>
                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="d-flex w-100 align-items-center justify-content-between"> <strong class="mb-1">List group item
                            heading</strong> <small class="text-body-secondary">Tues</small> </div>
                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="d-flex w-100 align-items-center justify-content-between"> <strong class="mb-1">List group item
                            heading</strong> <small class="text-body-secondary">Tues</small> </div>
                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="d-flex w-100 align-items-center justify-content-between"> <strong class="mb-1">List group item
                            heading</strong> <small class="text-body-secondary">Tues</small> </div>
                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
                    <div class="d-flex w-100 align-items-center justify-content-between"> <strong class="mb-1">List group item
                            heading</strong> <small class="text-body-secondary">Tues</small> </div>
                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
                </a>
            </div>
            
        </div>

    </div>



</div>

{% include 'components/_add_event_modal.html' %}

{% endblock %}