{% extends "layout.html.jinja" %}

{% block title %}Week{% endblock %}

{% block body %}

<div class="container-fluid my-3">

    <div class="row justify-content-center">

        <div class="col-xxl-9 mb-3">
            <img src="{{ url_for('static', filename='images/calendar/' + image + '.png') }}" class="img-fluid" alt="Owner's Calendar">
        </div>

        <div class="col-xxl-2">

            <div class="mb-3 w-100">
                <a href="javascript:void(0)" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#shareCalendarRequestModal">
                    Share My Calendar
                </a>
            </div>
            <div class="mb-1 w-100">
                <a href="javascript:void(0)" class="btn btn-outline-secondary w-100" data-bs-toggle="offcanvas"
                    data-bs-target="#addEventOffcanvas">
                    Add New Schedule
                </a>
            </div>
            <div class="list-group scrollarea overflow-auto" style="max-height: 76vh;">
                {% if dbe %}
                {% for e in dbe %}
                <a href="#" class="list-group-item list-group-item-action" style="background-color: {{ e.color }};" data-bs-toggle="modal" data-bs-target="#editEventModal{{ e.id }}">
                    <div class="row">
                        <div class="col-8">
                            <div>
                                <strong>{{ e.title}}</strong>
                            </div>
                            <div>
                                <small>
                                    {{ e.start.strftime('%I:%M %p') }} - {{ e.end.strftime('%I:%M %p') }}
                                </small>
                            </div>
                            <div>
                                <small>{{ e.notes }}</small>
                            </div>
                        </div>
                        <div class="col-4">
                            {% for r in e.recurring_days %}
                            <small class="me-1">{{ dow[r.day_of_week] }}</small>
                            {% endfor %}
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
            
        </div>

    </div>

</div>

{% include 'components/_add_event_offcanvas.html.jinja' %}
{% include 'components/_edit_event_modal.html.jinja' %}
{% include 'components/_share_calendar_request_modal.html.jinja' %}

{% if add_event_form.errors %}
    <input type="hidden" id="addEventTrigger" value="true">
{% endif %}

{% endblock %}