<div class="modal fade" id="addEventModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-5">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addEventModalLabel">Add an Event</h1>
            </div>
            <div class="modal-body">

                <form class="row g-3" method="POST" action="{{ url_for('week_schedule') }}">
                    {{ add_event_form.hidden_tag() }}

                    <div class="col-md-12">
                        {{ add_event_form.title.label(class="form-label") }}
                        {{ add_event_form.title(class="form-control") }}
                        {% for error in add_event_form.title.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-12">
                        {{ add_event_form.notes.label(class="form-label") }}
                        {{ add_event_form.notes(class="form-control") }}
                        {% for error in add_event_form.notes.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <hr>
                    <!-- Day(s) of the Week -->
                    <div class="col-md-10">
                        {{ add_event_form.day_of_week.label(class="form-label") }}
                        <div class="d-flex flex-wrap gap-3">
                            {% for subfield in add_event_form.day_of_week %}
                                <div class="form-check">
                                    {{ subfield(class="form-check-input") }}
                                    {{ subfield.label(class="form-check-label") }}
                                </div>
                            {% endfor %}
                        </div>
                        {% for error in add_event_form.day_of_week.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="col-md-5">
                        {{ add_event_form.day.label(class="form-label") }}
                        {{ add_event_form.day(class="form-control", id="addEventFormDayField") }}
                        {% for error in add_event_form.day.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-center gap-3 col-md-5">
                        {{ add_event_form.is_monthly.label(class="form-check-label") }}
                        {{ add_event_form.is_monthly(class="form-check-input", id="addEventFormMonthlyCheck") }}
                        {{ add_event_form.is_annual.label(class="form-check-label") }}
                        {{ add_event_form.is_annual(class="form-check-input", id="addEventFormAnnualCheck") }}
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary mb-2" id="addEventFormClearAllDays">Clear All</button>
                    </div>

                    <hr>

                    <div class="col-md-6">
                        {{ add_event_form.start.label(class="form-label") }}
                        {{ add_event_form.start(class="form-select", id="addEventFormStartField") }}
                        {% for error in add_event_form.start.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {{ add_event_form.end.label(class="form-label") }}
                        {{ add_event_form.end(class="form-select", id="addEventFormEndField") }}
                        {% for error in add_event_form.end.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <hr>

                    <div class="d-flex justify-content-between">
                        <div>
                            {{ add_event_form.submit(class="btn btn-primary") }}
                        </div>
                        <div>
                            {{ add_event_form.color(class="event-color-select") }}
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <form method="GET" action="{{ url_for('week_schedule') }}">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
