<div class="modal fade" id="signUpModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="signUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-5">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="signUpModalLabel">Sign Up</h1>
            </div>
            <div class="modal-body">

                <form class="row g-3" method="POST" action="{{ url_for('login') }}">
                    {{ signup_form.hidden_tag() }}

                    <div class="col-md-6">
                        {{ signup_form.first_name.label(class="form-label") }}
                        {{ signup_form.first_name(class="form-control") }}
                        {% for error in signup_form.first_name.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {{ signup_form.last_name.label(class="form-label") }}
                        {{ signup_form.last_name(class="form-control") }}
                        {% for error in signup_form.last_name.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {{ signup_form.username.label(class="form-label") }}
                        {{ signup_form.username(class="form-control") }}
                        {% for error in signup_form.username.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {{ signup_form.email.label(class="form-label") }}
                        {{ signup_form.email(class="form-control") }}
                        {% for error in signup_form.email.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {{ signup_form.password.label(class="form-label") }}
                        <div class="input-group">
                        {{ signup_form.password(class="form-control", id="signup-form-password") }}
                            <span class="input-group-text"
                                onclick="togglePasswordVisibility('signup-form-password', 'toggle-signup-form-password')"
                                style="cursor:pointer;">
                                <i class="bi bi-eye" id="toggle-signup-form-password"></i>
                            </span>
                        </div>
                        {% for error in signup_form.password.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {{ signup_form.confirm_password.label(class="form-label") }}
                        <div class="input-group">
                        {{ signup_form.confirm_password(class="form-control", id="signup-form-confirm-password") }}
                            <span class="input-group-text"
                                onclick="togglePasswordVisibility('signup-form-confirm-password', 'toggle-signup-form-confirm-password')"
                                style="cursor:pointer;">
                                <i class="bi bi-eye" id="toggle-signup-form-confirm-password"></i>
                            </span>
                        </div>
                        {% for error in signup_form.confirm_password.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {{ signup_form.country.label(class="form-label") }}
                        {{ signup_form.country(class="form-control", id="signup-form-country") }}
                        {% for error in signup_form.country.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        {{ signup_form.time_zone.label(class="form-label") }}
                        {{ signup_form.time_zone(class="form-control", id="signup-form-time-zone") }}
                        {% for error in signup_form.time_zone.errors %}
                        <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                
                    <div>
                        {{ signup_form.submit(class="btn btn-primary") }}
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <form method="GET" action="{{ url_for('login') }}">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
